node_modules/

# Bỏ toàn bộ file trong backend/data, trừ .gitkeep
backend/data/*
!backend/data/.gitkeep

# Bỏ file .env
.env

# ✅ Bỏ thư mục dist trong frontend/public
frontend/public/dist/
!frontend/public/dist/.gitkeep

# bỏ thư mục dist trong react-app
react-app/dist/
!react-app/dist/.gitkeep