@import "../base.css";
@import "../components/folder-card.css";
@import "../components/music/music-card.css";

/* Wrapper toàn trang */
html,
body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}





/* =============================
   📂 SELECT PAGE – CHỌN ROOT FOLDER
============================= */

/* Tiêu đề chọn folder */
.select-header {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Khu vực danh sách root folder */
.folder-section.grid {
  padding-bottom: 72px; /* tạo khoảng trống tránh đụng footer */
}


/* Card dùng style chung của music-card */

